.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.appNav{
  display: flex;
  justify-content: center;
  background-color: #253d5b;
}
#navList{
  list-style: none;
  text-align: center;
  display: flex;
}

#linkElement{
  font-size: 30px;
  color: white;
  border-radius: 15px;
  margin: 30px;
  text-decoration: none;
}
